# EmailJS Configuration for Primetask Media
# Obtain these from your free account at https://dashboard.emailjs.com/
VITE_EMAILJS_SERVICE_ID=service_kb5ikuc
VITE_EMAILJS_TEMPLATE_ID=template_9rx32ho
VITE_EMAILJS_PUBLIC_KEY=QHBaEIur49xyXD3zN
